/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Summerfruit Light scheme by Christopher Corley (http://christop.club/) */

window {
	background-color: #ffffff;
	color: #101010;
}

#entry:nth-child(odd) {
	background-color: #ffffff;
}

#entry:nth-child(even) {
	background-color: #e0e0e0;
}

#entry:selected {
	background-color: #d0d0d0;
}

#input {
	background-color: #e0e0e0;
	color: #000000;
	border-color: #d0d0d0; 
}

#input:focus {
	border-color: #aba800; 
}
