/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Classic Light scheme by Jason Heeris (http://heeris.id.au) */

window {
	background-color: #f5f5f5;
	color: #303030;
}

#entry:nth-child(odd) {
	background-color: #f5f5f5;
}

#entry:nth-child(even) {
	background-color: #e0e0e0;
}

#entry:selected {
	background-color: #d0d0d0;
}

#input {
	background-color: #e0e0e0;
	color: #505050;
	border-color: #d0d0d0; 
}

#input:focus {
	border-color: #f4bf75; 
}
