/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * OceanicNext scheme by https://github.com/voronianski/oceanic-next-color-scheme */

window {
	background-color: #1b2b34;
	color: #c0c5ce;
}

#entry:nth-child(odd) {
	background-color: #1b2b34;
}

#entry:nth-child(even) {
	background-color: #343d46;
}

#entry:selected {
	background-color: #4f5b66;
}

#input {
	background-color: #343d46;
	color: #a7adba;
	border-color: #4f5b66; 
}

#input:focus {
	border-color: #fac863; 
}
